#s-m-t-tooltip{
    /* basic */
    max-width:450px;
	z-index:10;
	margin:-50px 20px 20px 20px;
	/* style and design */
	padding:8px;
	background:#000;
	background:black;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
    border-radius:20px;
	box-shadow:0px 0px 10px 10px #4c5b86;
	/* font */
	font-family:Verdana,Geneva,sans-serif;
	font-size:16px;
	line-height:15px;
	color:#fff;
}

a .hover :hover{
   text-decoration:underline;
}

.in{opacity:1}.collapse{display:none}
.collapse.in{display:block}tr
.collapse.in{display:table-row}tbody
.collapse.in{display:table-row-group}
.collapsing{position:relative;height:0;overflow:hidden;
border-top:1px #000;
border-left:1px #000}.dropdown,
#Aprilfools1 {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/Aprilfools1.png) no-repeat;
}
#Aprilfools2 {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/Aprilfools2.png) no-repeat;
}
#Aprilfools3 {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/Aprilfools3.png) no-repeat;
}
#Aprilfools4 {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/Aprilfools4.png) no-repeat;
}
#Aprilfools5 {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/Aprilfools5.png) no-repeat;
}
#Aprilfools6 {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/Aprilfools6.png) no-repeat;
}
#EventPan {
  width: 100%;
  height: 100%;
  background: white url(http://musicfamily.org/realm/Factions/picks/EventPan.png) no-repeat;
}
#myimage15 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Fairy-choir_spell-upgrade.png) no-repeat;
}
#myimage14 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Challenges/picks/Fairy_champion_trophy.png) no-repeat;
}
#myimage13 {
  width: 217px;
  height: 160px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Faction_upgrades.png) no-repeat;
}
#myimage7 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Titan.png) no-repeat;
}
#myimage8 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Druid.png) no-repeat;
}
#myimage9 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Faceless.png) no-repeat;
}
#myimage10 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Dwarves.png) no-repeat;
}
#myimage11 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Drow.png) no-repeat;
}
#myimage12 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/1Merc.png) no-repeat;
}
#myimage1 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Fairy.png) no-repeat;
}
#myimage2 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Elf.png) no-repeat;
}
#myimage3 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Angel.png) no-repeat;
}
#myimage4 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Goblin.png) no-repeat;
}
#myimage5 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Undead.png) no-repeat;
}
#myimage6 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Demon.png) no-repeat;
}
#MercenaryFirstContract {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryFirstContract.png) no-repeat;
}
#MercenaryMagicContract {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryMagicContract.png) no-repeat;
}
#MercenaryUpgrade1 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade1.png) no-repeat;
}
#MercenaryUpgrade2 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade2.png) no-repeat;
}
#MercenaryUpgrade3 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade3.png) no-repeat;
}
#MercenaryUpgrade4 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade4.png) no-repeat;
}
#MercenaryUpgrade5 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade5.png) no-repeat;
}
#MercenaryUpgrade6 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade6.png) no-repeat;
}
#MercenaryUpgrade7 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade7.png) no-repeat;
}
#MercenaryUpgrade8 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade8.png) no-repeat;
}
#MercenaryUpgrade9 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade9.png) no-repeat;
}
#MercenaryUpgrade10 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade10.png) no-repeat;
}
#MercenaryUpgrade11 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade11.png) no-repeat;
}
#MercenaryUpgrade12 {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryUpgrade12.png) no-repeat;
}
#MercenarySecondContract {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenarySecondContract.png) no-repeat;
}
#HolyCrusaders {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/HolyCrusaders.png) no-repeat;
}
#Heresiarchs {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/Heresiarchs.png) no-repeat;
}
#TradeLords {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/TradeLords.png) no-repeat;
}
#MercenaryThirdContract {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryThirdContract.png) no-repeat;
}
#MercenarySorceryContract {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenarySorceryContract.png) no-repeat;
}
#MercenaryTribute {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryTribute.png) no-repeat;
}
#MercenaryOath {
  width: 50px;
  height: 50px;
  background: white url(http://musicfamily.org/realm/Factions/picks/MercenaryOath.png) no-repeat;
}
body {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
background: #000;
}
#outer{ 
margin: 0 auto;
width: 750px;
padding: .8% .8% .8% .8%;
background: #4c5b86;
}
#header {
overflow: auto; 
width: 750px;
height: 159px;
background-image:url(http://musicfamily.org/realm/Factions/picks/RealmGrinderHeader.png);
}
#navbox{
margin: 5;
border:0px solid #000; 
width: 750px;
height:20px;
position: relative;
}
#parent {
margin: 0;
overflow: auto; 
width: 750px; 
  background: #98AFC7;
}
h1{
margin: 100px ;
width: 45%;
font-size: 1.7em;
letter-spacing: .3em;
font-family : "tahoma", verdana, arial,sans-serif ;
}
h2{
margin: 0 auto;
width: 49%;
font-size: .9em;
letter-spacing: .3em;
color:#7B87B7;
font-family : "Lucida Grande", verdana,arial,sans-serif;
border:0px solid #fff;
}
h3{
text-align: center; 
width: 49%;
font-size: 1.3em;
letter-spacing: .2em;
color:#000000;
font-family : "engravers mt bold", verdana,arial,sans-serif;
margin: 8px;
}
h4{
text-align: center;
margin: 0 0 20px 0px; 
font-size: .9em;
letter-spacing: .3em;
color:#7B87B7;
font-family : "engravers mt bold", verdana,arial,sans-serif;
}
h5{
text-align: center; 
width: 49%;
font-size: 1.0em;
letter-spacing: .2em;
color:#000000;
font-family : "engravers mt bold", verdana,arial,sans-serif;
margin: 10px;
}
h6{
text-align: center; 
width: 49%;
font-size: 1.0em;
letter-spacing: .3em;
color:#000000;
font-family : "engravers mt bold", verdana,arial,sans-serif;
margin: 0px 40px 10px 40px;
}
h7{
margin: 0 auto;
width: 39%;
font-size: .5em;
letter-spacing: .5em;
color:#7B87B7;
font-family : "Lucida Grande", verdana,arial,sans-serif;
border:0px solid #fff;
}
#leftcolumn { 
display: inline;
color: #000;
margin: 30px 0 0 1px;
padding: 0px;
width: 186px;
float: left; 
}
#leftbox { 
background-image:url(http://musicfamily.org/realm/Factions/picks/RealmGrinderGameRL.png);
background-repeat: no-repeat;
background-position:center top;
text-align: left;
height: 60px;
padding: 40px 0 0 0 ;
border:0px solid #fff;
}
#navlist{
padding: 2px;
margin-left: 12px;
font: bold 12px Verdana, sans-serif;
width: 13em;
}
#navlist li{
list-style: none;
margin: 0;
padding: 0.20em 1.5em;
border: 1px solid;
border-color: #7D839D  #53629B #53629B #424D9C;
text-align: center; 
}
#navlist li a { text-decoration: none; }
#navlist li a:link { color: #000000; }
#navlist li a:visited { color: #000000; }
#navlist li a:hover {color : #ffffff; } 
#navlist2{
padding: 2px;
margin-left: 12px;
font: bold 12px Verdana, sans-serif;
width: 13em;
}
#navlist2 li{
list-style: none;
margin: 0;
padding: 0.30em 1.5em;
border: 1px solid;
border-color: #7D839D  #53629B #53629B #424D9C;
text-align: center; 
}
#navlist2 li a { text-decoration: none; }
#navlist2 li a:link { color: black; }
#navlist2 li a:visited { color: gray; }
#navlist2 li a:hover {color : #9CAAB7; }
#rightcolumn { 
float: right;
font-size:1.2em;
color: #000;
background: transparent;
margin: 27px 0px 33px 1px;
padding: 5px;
width: 552px;
position: relative;
}
#rightcolumn p {
margin: 2px 0px 5px 0px; 
font-family : 'Verdana', Geneva, Lucida, Helvetica, Arial, sans-serif; 
color : #000; 
font-size : 1.0em; 
letter-spacing:.02em;
padding: .2em 5px 0 5px;
border-bottom:0px solid #D87A18
}
#rightcolumn a:link { color: #000; text-decoration : underline;}
#rightcolumn a:visited { color: #000; }
#rightcolumn a:hover {color : #FFE7BE; }
.rightbox { 
float: right;
text-align: left;
font-size:1.2em;
color: transparent;
background-image:url(http://musicfamily.org/realm/Factions/picks/RealmGrinderGameRL.png);
background-repeat: no-repeat;
position: 10px 10px 10px 10px;
width: 145px;
}
.rightboxcontent { 
padding: 10px;
margin: 46px 0 ;
}
.menu {font-family: arial, sans-serif; width:860px; position:relative; margin:0; font-size:12px; margin:0px 0px 0px 1px; z-index:100;}
.menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#000;width:104px; height:18px; text-align:center; color:#9CAAB7; border:1px solid #000; background:#06091C; line-height:20px; font-size:12px; overflow:hidden;}
.menu ul {padding:0; margin:0px 0px 0px -.9px;list-style-type: none; }
.menu ul li {float:left; margin-right:1px; position:relative;}
.menu ul li ul {display: none;}

/* specific to non IE browsers */
.menu ul li:hover a {color:#fff; background:#000;}
.menu ul li:hover ul {display:block; position:absolute; top:21px; left:0; width:105px;}
.menu ul li:hover ul li a.hide {background:#525E92; color:#fff;}
.menu ul li:hover ul li:hover a.hide {background:#525E92; color:#000;}
.menu ul li:hover ul li ul {display: none;}
.menu ul li:hover ul li a {display:block; background:#525E92; color:#fff;}
.menu ul li:hover ul li a:hover {background:#525E92; color:#000;}
.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:104px; top:0;}
.menu ul li:hover ul li:hover ul.left {left:-105px;}

#footer a { text-decoration: none; 
border:1px solid; 
border-color: #AAA #666 #666 #AAA;
padding: 1px 5px 1px 5px;
}
#footer a:link { color: black; }
#footer a:visited { color: gray; }
#footer a:hover {color : #006600; } 

#footer { 
text-align: center; 
font: bold 14px Verdana, sans-serif;
border: 0px solid;
width: 723px;
clear: both;
color: #000;
background: transparent;
padding: 10px;
}
.clear { clear: both; background: none; }