<table style="width:100%; margin-top:1em; border:1px solid #; font-size:90%; text-align:center;">
    <tbody>
        <tr>
            <td style="padding:0.2em 0.5em; color: #98AFC7;">
                <p>
                {% for item in site.data.links %}
                    |
                    {% if item.research %}
                        {% if item.colour %}
                            <a style="color: #98AFC7; padding-bottom: 1px; border-bottom: 5px solid #{{ item.colour }};" href="{{ item.link }}" research="{{ item.research }}">{{ item.name }}</a>
                        {% else %}
                            <a style="color: #98AFC7;" href="{{ item.link }}" research="{{ item.research }}">{{ item.name }}</a>
                        {% endif %}
                    {% else %}
                        {% if item.colour %}
                        {% comment %} TODO: the coloured factions that appear in the tooltip of the faction groups {% endcomment %}
                            <a style="color: #98AFC7; padding-bottom: 1px; border-bottom: 5px solid #{{ item.colour }};" href="{{ item.link }}">{{ item.name }}</a>
                        {% else %}
                            <a style="color: #98AFC7;" href="{{ item.link }}">{{ item.name }}</a>
                        {% endif %}
                    {% endif %}

                    {% if item.newline %} |</p><p> {% endif %}
                {% endfor %} |
                </p>
            </td>
        </tr>
    </tbody>
</table>
