<div style="text-align: center;">
    <p style="color: #98AFC7;">
        Contact us <a target="_blank" href="http://www.kongregate.com/accounts/Igorogi" style="color: #98AFC7;"><b>Igorogi</b></a> or
        <a target="_blank" href="http://www.kongregate.com/accounts/G00FBALL/" style="color: #98AFC7;"><b>G00FBALL</b></a>
    </p> 

    <p style="color: #98AFC7;"><b>Thank You!!! for all your help.</b></p>

    <marquee class="html-marquee" direction="up" behavior="scroll" scrollamount="2">
    {% for name in site.data.thanks %}
    <div style="text-align: center;">{{ name.name }}</div>
    {% endfor %}
    </marquee>
</div>

<div style="text-align: center;">
    <a href="http://www.amazingcounters.com"><img style="border: 0;" src="http://cc.amazingcounters.com/counter.php?i=3200435&c=9601618" alt="AmazingCounters.com"></a>
</div>
