<P align="center"><FONT color=#98AFC7> Contact us <a target="_blank" href="http://www.kongregate.com/accounts/Igorogi"><FONT color=#98AFC7><b>Igorogi</font></b></a> or <a target="_blank" href="http://www.kongregate.com/accounts/G00FBALL/"><FONT color=#98AFC7><b>G00FBALL</font></b></a></P> 
<div align="center"><FONT color=#98AFC7> <b>Thank You!!! for all your help.</b></a></p> 
<marquee class="html-marquee" direction="up" behavior="scroll" scrollamount="2">

{% for name in site.data.thanks %}
<p align="center">{{ name.name }}</p>
{% endfor %}

 </marquee>
<style>
.html-marquee {
  height:14px;
  width:160px;
  background-color:Black;
  font-family:Cursive;
  font-size:14px;
  color:#98AFC7;
  font-weight:bold;
  border-width:1;
  border-style:solid;
  border-color:Black;
}
</style>
 <div align="center"><a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3200435&c=9601618" alt="AmazingCounters.com"></a></div>
