<div id="leftcolumn">
    <div id="leftbox">
    </div>
    <div id="navcontainer">
        <ul id="navlist">
        {% for header in site.data.left %}
            <p align="center">{{ header.header }}</p>
            {% for item in header.items %}
                {% if item.research %}
                    <li id="active"><a href="{{ item.link }}" id="current" research="{{ item.research }}" >{{ item.name }}</a></li>
                {% else %}
                    <li id="active"><a href="{{ item.link }}" id="current">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
