<div id="leftcolumn">
    <div id="leftbox">
    </div>
    <div id="navcontainer">
        <ul id="navlist" style="text-align: center;">
        {% for header in site.data.left %}
            <li style="margin: 1em; display: inline-block; border: none; padding: 0;">{{ header.header }}</li>
            {% for item in header.items %}
                {% if item.research %}
                    <li><a href="{{ item.link }}" research="{{ item.research }}" >{{ item.name }}</a></li>
                {% else %}
                    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
