<div id="navbox">
    <div class="menu">
        <ul>
        {% for header in site.data.nav %}
            {% if header.research %}
                <li><a href="{{ header.link }}" research="{{ header.research }}">{{ header.header }}</a>
            {% else %}
                <li><a href="{{ header.link }}">{{ header.header }}</a>
            {% endif %}
            {% if header.items %}
                <ul>
                {% for item in header.items %}
                    {% if item.research %}
                        <li><a href="{{ item.link }}" research="{{ item.research }}">{{ item.name }}</a>
                    {% else %}
                        <li><a href="{{ item.link }}">{{ item.name }}</a>
                    {% endif %}
                    {% if item.subitems %}
                        <ul>
                            {% for subitem in item.subitems %}
                                {% if subitem.research %}
                                    <li><a href="{{ subitem.link }}" research="{{ subitem.research }}">{{ subitem.name }}</a></li>
                                {% else %}
                                    <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
