a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 20px;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}


#s-m-t-tooltip{
    /* basic */
    max-width:450px;
	z-index:100;
	margin:-50px 20px 20px 20px;
	/* style and design */
	padding:8px;
	background:#000;
	background:black;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
    border-radius:20px;
	box-shadow:0px 0px 10px 10px #4c5b86;
	/* font */
	font-family:Verdana,Geneva,sans-serif;
	font-size:16px;
	line-height:15px;
	color:#fff;
}

a .hover :hover {
    text-decoration: underline;
}

.in {
    opacity: 1
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr
.collapse.in {
    display: table-row
}

tbody
.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    border-top: 1px #000;
    border-left: 1px #000
}

.dropdown,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #000;
}
.content {
  border: 1px solid;
  padding: 15px;
}

#outer {
    margin: 0 auto;
    width: 760px;
    padding: .8% .8% .8% .8%;
    background: #4c5b86;
}

#header {
    overflow: auto;
    width: 760px;
    height: 159px;
    background-image: url(http://musicfamily.org/realm/Factions/picks/RealmGrinderHeader.png);
}

#navbox {
    margin: 1px 0px 2px -1px;
    border: 4px solid #000;
    width: 753px;
    height: 28px;
    position: relative;
}

#parent {
    margin: 0;
    overflow: hidden;
    width: 760px;
    background: #98AFC7;
}

h1 {
    margin: 100px;
    width: 45%;
    font-size: 1.7em;
    letter-spacing: .3em;
    font-family: "tahoma", verdana, arial, sans-serif;
}

h2 {
    margin: 0 auto;
    width: 49%;
    font-size: .9em;
    letter-spacing: .3em;
    color: #7B87B7;
    font-family: "Lucida Grande", verdana, arial, sans-serif;
    border: 0px solid #fff;
}

h3 {
    text-align: center;
    width: 49%;
    font-size: 1.3em;
    letter-spacing: .2em;
    color: #000000;
    font-family: "engravers mt bold", verdana, arial, sans-serif;
    margin: 8px;
}

h4 {
    text-align: center;
    margin: 0 0 20px 0px;
    font-size: .9em;
    letter-spacing: .3em;
    color: #000000;
    font-family: "engravers mt bold", verdana, arial, sans-serif;
}

h5 {
    text-align: center;
    width: 49%;
    font-size: 1.0em;
    letter-spacing: .2em;
    color: #000000;
    font-family: "engravers mt bold", verdana, arial, sans-serif;
    margin: 10px;
}

h6 {
    text-align: center;
    width: 49%;
    font-size: 1.0em;
    letter-spacing: .3em;
    color: #000000;
    font-family: "engravers mt bold", verdana, arial, sans-serif;
    margin: 0px 0px 10px 50px;
}

h7 {
    margin: 0 auto;
    width: 39%;
    font-size: .5em;
    letter-spacing: .5em;
    color: #7B87B7;
    font-family: "Lucida Grande", verdana, arial, sans-serif;
    border: 0px solid #fff;
}

#leftcolumn {
    display: inline;
    color: #000;
    margin: 30px 0 0 1px;
    padding: 0px;
    width: 186px;
    float: left;
}

#leftbox {
    background-image: url(http://musicfamily.org/realm/Factions/picks/RealmGrinderGameRL.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: left;
    height: 60px;
    padding: 40px 0 0 0;
    border: 0px solid #fff;
}

#navlist {
    padding: 2px;
    margin-left: 12px;
    font: bold 12px Verdana, sans-serif;
    width: 13em;
}

#navlist li {
    list-style: none;
    margin: 0;
    padding: 0.20em 1.0em;
    border: 1px solid;
    border-color: #424D9C #53629B #53629B #424D9C;
    text-align: center;
}

#navlist li a {
    text-decoration: none;
}

#navlist li a:link {
    color: #000000;
}

#navlist li a:visited {
    color: #000000;
}

#navlist li a:hover {
    color: #ffffff;
}

#navlist2 {
    padding: 2px;
    margin-left: 12px;
    font: bold 12px Verdana, sans-serif;
    width: 13em;
}

#navlist2 li {
    list-style: none;
    margin: 0;
    padding: 0.30em 1.5em;
    border: 1px solid;
    border-color: #7D839D #53629B #53629B #424D9C;
    text-align: center;
}

#navlist2 li a {
    text-decoration: none;
}

#navlist2 li a:link {
    color: black;
}

#navlist2 li a:visited {
    color: gray;
}

#navlist2 li a:hover {
    color: #9CAAB7;
}

#rightcolumn {
    float: left;
    font-size: 1.2em;
    color: #000;
    background: transparent;
    margin: 27px 0px 33px 1px;
    padding: 5px;
    width: 552px;
    position: relative;
}

#rightcolumn li {
    font-family: 'Verdana', Geneva, Lucida, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.0em;
    letter-spacing: .02em;
    padding: .2em 5px 0 5px;
    border-bottom: 0px solid #D87A18
}

#rightcolumn p {
    margin: 2px 0px 5px 0px;
    font-family: 'Verdana', Geneva, Lucida, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.0em;
    letter-spacing: .02em;
    padding: .2em 5px 0 5px;
    border-bottom: 0px solid #D87A18
}

#rightcolumn a:link {
    color: #000;
    text-decoration: underline;
}

#rightcolumn a:visited {
    color: #000;
}

#rightcolumn a:hover {
    color: #FFE7BE;
}
.rightbox {
    float: right;
    width: 100px;
    height: 100px;
    text-decoration: none;
    cursor: pointer;
}

.rightboxcontent {
}

.menu {
    font-family: arial, sans-serif;
    width: 860px;
    position: relative;
    margin: 0;
    font-size: 12px;
    margin: 0px 0px 0px 1px;
    z-index: 100;
}

.menu ul li a, .menu ul li a:visited, .menu ul li:hover a {
    display: block;
    text-decoration: none;
    color: #000;
    width: 102.5px;
    height: 23px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: #4c5b86;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}

.menu ul {
    padding: 0;
	margin: 0px;
    list-style-type: none;
}

.menu ul li {
    float: left;
    margin-right: 1px;
    position: relative;
}

.menu ul li ul {
    display: none;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
	margin: 5px 0px 0px 0px;
    width: 105px;
}

.menu ul li:hover ul li a.hide {
    background: #7285A7;
    color: #fff;
}

.menu ul li:hover ul li:hover a.hide {
    background: #7285A7;
    color: #000;
}

.menu ul li:hover ul li ul {
    display: none;
}

.menu ul li:hover ul li a {
    display: block;
    background: #7285A7;
    color: #fff;
}

.menu ul li:hover ul li a:hover {
    background: #5F7096;
    color: #fff;
}

.menu ul li:hover ul li:hover ul {
    display: block;
    position: absolute;
    left: 104px;
    top: 0;
}

.menu ul li:hover ul li:hover ul.left {
    left: -105px;
}

#footer a {
    text-decoration: none;
    border: 1px solid;
    border-color: #AAA #666 #666 #AAA;
    padding: 1px 5px 1px 5px;
}

#footer a:link {
    color: black;
}

#footer a:visited {
    color: gray;
}

#footer a:hover {
    color: #006600;
}

#footer {
    text-align: center;
    font: bold 14px Verdana, sans-serif;
    border: 0px solid;
    width: 723px;
    clear: both;
    color: #000;
    background: transparent;
    padding: 10px;
}

.clear {
    clear: both;
    background: none;
}

.calc table, #ReiCosCal table, #SSCal table {
    width: 98%;
    border-collapse: collapse;
}

.calc td, .calc th, #ReiCosCal td, #ReiCosCal th, #SSCal td, #SSCal th {
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
}

.calc th, #ReiCosCal th, #SSCal th {
    background-color: #b3bcc6;
    color: black;
}

.calc input, #ReiCosCal input, #SSCal input {
  width: 90%;
    text-align: center;
    background-color: #b3bcc6;
}

.calc tr:hover {
    background-color: #ffffff;
}

.calc label {
    display: block;
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.autohide {
    display: none;
}

.autohide, .category {
    padding-left: 3%;
}

p {
	word-break: break-word;
}
