<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head> 
    {% include _header.html %}
    {% include _piwik.html %}
</head>
<body>
    <div id="outer">
        <div class="parent">
            <div id="header">
                {% include _top_freefind.html %}
            </div>
        </div>
        {% include _top_navbox.html %}
        <div class="parent">
            {% include _left.html %}
            <div id="rightcolumn">
                {{ content }}

            </div>
            <div id="footer">
            </div>
        </div>
    </div> 

    {% include _footer_links.html %}
    {% include _footer_thanks.html %}
</body>
</html>
